ARCHIVES
*Makefile
Makefile.in
config.h.in
*.o
*.lo
*.la
*~
*.libs
*.trs
*log
*status
*cache
*aux
.deps/
.vscode/
docs/Doxyfile
docs/DoxyfileDev
aclocal.m4
benchmarks/benchmark-recint_exp
benchmarks/benchmark-recint_inv_arazi
benchmarks/benchmark-recint_inv_naive
benchmarks/benchmark-recint_mul
config.h
configure
examples/FiniteField/GF128
examples/FiniteField/GFirreducible
examples/FiniteField/GaloisFields
examples/FiniteField/Test_Extension
examples/FiniteField/all_field
examples/FiniteField/domain_to_operatorstyle
examples/FiniteField/exponentiation
examples/FiniteField/ff_arith
examples/FiniteField/gfq_atomic
examples/FiniteField/zpz_atomic
examples/Integer/ModularSquareRoot
examples/Integer/ProbLucas
examples/Integer/RSA_breaking
examples/Integer/RSA_decipher
examples/Integer/RSA_encipher
examples/Integer/RSA_keys_generator
examples/Integer/iexponentiation
examples/Integer/ifactor
examples/Integer/ifactor_lenstra
examples/Integer/igcd
examples/Integer/igcdext
examples/Integer/ilcm
examples/Integer/ispower
examples/Integer/isprime
examples/Integer/isproot
examples/Integer/lambda
examples/Integer/lambda_inv
examples/Integer/nb_primes
examples/Integer/nextprime
examples/Integer/order
examples/Integer/phi
examples/Integer/prevprime
examples/Integer/primitiveelement
examples/Integer/primitiveroot
examples/Integer/probable_primroot
examples/Polynomial/PolynomialCRT
examples/Polynomial/bivariate
examples/Polynomial/highorder
examples/Polynomial/interpolate
examples/Polynomial/isirred
examples/Polynomial/isprimitive
examples/Polynomial/pol_arith
examples/Polynomial/pol_eval
examples/Polynomial/pol_factor
examples/Polynomial/trunc_arith
examples/Rational/iratrecon
examples/Rational/polydouble
examples/RecInt/extended-int-types
examples/RecInt/recint-iterator
examples/RecInt/rsa
givaro-config
givaro-config.h
givaro-makefile
givaro.pc
libtool
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
src/kernel/bstruct/givaro
src/kernel/field/givaro
src/kernel/gmp++/gmp++
src/kernel/integer/givaro
src/kernel/memory/givaro
src/kernel/rational/givaro
src/kernel/recint/recint
src/kernel/ring/givaro
src/kernel/system/givaro
src/library/matrix/givaro
src/library/poly1/givaro
src/library/tools/givaro
src/library/vector/givaro
stamp-h1
tests/test-conversion
tests/test-crt
tests/test-ffarith
tests/test-geom
tests/test-ifactor
tests/test-integer
tests/test-mod
tests/test-modsqroot
tests/test-poly
tests/test-random
tests/test-rational-class
tests/test-ratrecon
tests/test-recint_cast
tests/test-recint_convert
tests/test-recint_convert_mg
tests/test-recint_exp
tests/test-recint_exp_mg
tests/test-recint_extra
tests/test-recint_extra_mg
tests/test-recint_rand
tests/test-recint_rand_mg
tests/test-ringarith
tests/test-rint_arith_add
tests/test-rint_arith_mod
tests/test-rint_arith_mul
tests/test-rint_arith_sub
tests/test-rmint_arith_add
tests/test-rmint_arith_add_mg
tests/test-rmint_arith_addmul
tests/test-rmint_arith_addmul_mg
tests/test-rmint_arith_mod
tests/test-rmint_arith_mod_mg
tests/test-rmint_arith_mul
tests/test-rmint_arith_mul_mg
tests/test-rmint_arith_sub
tests/test-rmint_arith_sub_mg
tests/test-rmint_comparisons
tests/test-rmint_comparisons_mg
tests/test-rmint_complex
tests/test-rmint_complex_mg
tests/test-rmint_constructors
tests/test-rmint_constructors_mg
tests/test-rmint_inv_div
tests/test-rmint_inv_div_mg
tests/test-rmint_montgomery
tests/test-rmint_neg
tests/test-rmint_neg_mg
tests/test-ruint_arazi
tests/test-ruint_arith_add
tests/test-ruint_arith_addmul
tests/test-ruint_arith_div
tests/test-ruint_arith_mul
tests/test-ruint_arith_sub
tests/test-ruint_comparisons
tests/test-ruint_complex
tests/test-ruint_constructors
tests/test-ruint_fiddling
tests/test-ruint_lmul
tests/test-ruint_operators
tests/test-ruint_shift
tests/test-ruint_square
tests/test-trunc
examples/FiniteField/GF128.exe
examples/FiniteField/GFirreducible.exe
examples/FiniteField/GaloisFields.exe
examples/FiniteField/Test_Extension.exe
examples/FiniteField/all_field.exe
examples/FiniteField/domain_to_operatorstyle.exe
examples/FiniteField/exponentiation.exe
examples/FiniteField/ff_arith.exe
examples/FiniteField/gfq_atomic.exe
examples/FiniteField/zpz_atomic.exe
examples/Integer/ModularSquareRoot.exe
examples/Integer/ProbLucas.exe
examples/Integer/RSA_breaking.exe
examples/Integer/RSA_decipher.exe
examples/Integer/RSA_encipher.exe
examples/Integer/RSA_keys_generator.exe
examples/Integer/iexponentiation.exe
examples/Integer/ifactor.exe
examples/Integer/ifactor_lenstra.exe
examples/Integer/igcd.exe
examples/Integer/igcdext.exe
examples/Integer/ilcm.exe
examples/Integer/ispower.exe
examples/Integer/isprime.exe
examples/Integer/isproot.exe
examples/Integer/lambda.exe
examples/Integer/lambda_inv.exe
examples/Integer/nb_primes.exe
examples/Integer/nextprime.exe
examples/Integer/order.exe
examples/Integer/phi.exe
examples/Integer/prevprime.exe
examples/Integer/primitiveelement.exe
examples/Integer/primitiveroot.exe
examples/Integer/probable_primroot.exe
examples/Polynomial/PolynomialCRT.exe
examples/Polynomial/bivariate.exe
examples/Polynomial/highorder.exe
examples/Polynomial/interpolate.exe
examples/Polynomial/isirred.exe
examples/Polynomial/isprimitive.exe
examples/Polynomial/pol_arith.exe
examples/Polynomial/pol_eval.exe
examples/Polynomial/pol_factor.exe
examples/Polynomial/trunc_arith.exe
examples/Rational/iratrecon.exe
examples/Rational/polydouble.exe
examples/RecInt/iterator.exe
examples/RecInt/rsa.exe
tests/test-conversion.exe
tests/test-crt.exe
tests/test-ffarith.exe
tests/test-geom.exe
tests/test-ifactor.exe
tests/test-integer.exe
tests/test-mod.exe
tests/test-modsqroot.exe
tests/test-modularmulprecomp
tests/test-poly.exe
tests/test-random.exe
tests/test-ratrecon.exe
tests/test-recint_cast.exe
tests/test-recint_convert.exe
tests/test-recint_convert_mg.exe
tests/test-recint_exp.exe
tests/test-recint_exp_mg.exe
tests/test-recint_extra.exe
tests/test-recint_extra_mg.exe
tests/test-recint_rand.exe
tests/test-recint_rand_mg.exe
tests/test-ringarith.exe
tests/test-rint_arith_add.exe
tests/test-rint_arith_mod.exe
tests/test-rint_arith_mul.exe
tests/test-rint_arith_sub.exe
tests/test-rmint_arith_add.exe
tests/test-rmint_arith_add_mg.exe
tests/test-rmint_arith_addmul.exe
tests/test-rmint_arith_addmul_mg.exe
tests/test-rmint_arith_mod.exe
tests/test-rmint_arith_mod_mg.exe
tests/test-rmint_arith_mul.exe
tests/test-rmint_arith_mul_mg.exe
tests/test-rmint_arith_sub.exe
tests/test-rmint_arith_sub_mg.exe
tests/test-rmint_comparisons.exe
tests/test-rmint_comparisons_mg.exe
tests/test-rmint_complex.exe
tests/test-rmint_complex_mg.exe
tests/test-rmint_constructors.exe
tests/test-rmint_constructors_mg.exe
tests/test-rmint_inv_div.exe
tests/test-rmint_inv_div_mg.exe
tests/test-rmint_montgomery.exe
tests/test-rmint_neg.exe
tests/test-rmint_neg_mg.exe
tests/test-ruint_arazi.exe
tests/test-ruint_arith_add.exe
tests/test-ruint_arith_addmul.exe
tests/test-ruint_arith_div.exe
tests/test-ruint_arith_mul.exe
tests/test-ruint_arith_sub.exe
tests/test-ruint_comparisons.exe
tests/test-ruint_complex.exe
tests/test-ruint_constructors.exe
tests/test-ruint_fiddling.exe
tests/test-ruint_lmul.exe
tests/test-ruint_operators.exe
tests/test-ruint_shift.exe
tests/test-ruint_square.exe
tests/test-trunc.exe


